In [3]:
import numpy as np
import pandas as pd
from SH_rand import SH_random_serial_ensemble

In [4]:
def HkNorm(f, k, L): 
    N=0
    F = np.fft.fft2(f)
    F = np.absolute(F)
    for i , x1 in enumerate(F): 
        for j , x in enumerate(x1):
            N += np.power(1.+(i*i+j*j)*L*L, k)*(x*x) 
    N = np.sqrt(N)
    return N

In [5]:
def checkerboard(fx, fy, xrange=100, yrange=100):
    
    #print(f'Number of grid cells: {xrange*yrange}')
    k = fx*2*np.pi/xrange #wavenumber 2pi / L
    m = fy*2*np.pi/yrange

    epsilon = 0.001

    x=np.arange(xrange)
    y=np.arange(yrange)
    X,Y=np.meshgrid(x,y)
    #define a 2D wave using the parameters (A, k, and c)

    A = 1
    phi=A*np.sin(k*X+epsilon)*A*np.sin(m*Y+epsilon)
    #gradx, grady = np.gradient(phi)

    phi_star = phi.copy()

    phi_star[phi_star > 0] = 1
    phi_star[phi_star <= 0] = 0

    return x, y, phi_star

In [6]:
grid_res = 100
permutation_array = np.load(f'{grid_res}x{grid_res}_permutation_array.npy').astype(int)

In [11]:
n_estimates = 100
n_permutations = 1000
profile_sh_df = pd.DataFrame(columns=['nx_ny', 'fx', 'fy', 'SH', 'SH_std_err'])
i = 0
for fx in [0,1,2]:
    for fy in [0,1,2]:
        print(f'fx={fx}, fy={fy}')
        x, y, phi_star = checkerboard(fx, fy, xrange=grid_res, yrange=grid_res)
        #SH_estimate, SH_estimates = SH_random_serial_ensemble(n_estimates=n_estimates, array=phi_star, 
        #                            n_permutations=n_permutations, permutation_array=permutation_array)
        profile_sh_df.loc[i, 'nx_ny'] = grid_res
        profile_sh_df.loc[i, 'fx'] = fx
        profile_sh_df.loc[i, 'fy'] = fy
        #profile_sh_df.loc[i, 'SH'] = SH_estimate
        #profile_sh_df.loc[i, 'SH_std_err'] = SH_estimates.std() / np.sqrt(n_estimates)

        HkNorm_value = HkNorm(phi_star, k=-1, L=1)
        profile_sh_df.loc[i, 'H-1Norm'] = round(HkNorm_value)
        i += 1

fx=0, fy=0
fx=0, fy=1
fx=0, fy=2
fx=1, fy=0
fx=1, fy=1
fx=1, fy=2
fx=2, fy=0
fx=2, fy=1
fx=2, fy=2

In [12]:
profile_sh_df

  nx_ny fx fy   SH SH_std_err  H-1Norm
0   100  0  0  NaN        NaN  10000.0
1   100  0  1  NaN        NaN   5496.0
2   100  0  2  NaN        NaN   5203.0
3   100  1  0  NaN        NaN   5496.0
4   100  1  1  NaN        NaN   5146.0
5   100  1  2  NaN        NaN   5074.0
6   100  2  0  NaN        NaN   5203.0
7   100  2  1  NaN        NaN   5074.0
8   100  2  2  NaN        NaN   5049.0